<div class="container">
  <h1>Lists</h1>

  <ul class="list-unstyled">
      <% @lists.each do |list| %>
    <li>
      <%= link_to list.name, list_path(list.id) %>
    </li>
    <% end %>
  </ul>

  <%= link_to "Create List", new_list_path %>
</div>
