.btn {
  background-color: rgb(233, 216, 215);
  border-radius: 5px;
  text-align: right;
  color: rgb(109, 102, 102);
    &:hover {
      background-color: rgb(167, 140, 139);
    }
}

.btn-reverse {
  color: rgb(233, 216, 215);
  background-color: rgb(109, 102, 102);
  border-radius: 5px;
  padding: 5px;
}
